<ion-view view-title="B-Fest">
        <ion-header-bar class="bar bar-subheader item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="search.$" autocorrect="off" >
            <button class="button button-clear" ng-click="clearSearch()">X</button>
          </label>
          <button class="button button-clear" ng-click="search()"><i class="icon ion-android-search positive"></i></button>
        </ion-header-bar>
  <ion-content class="has-subheader">


<ion-slide-box on-slide-changed="slideHasChanged($index)" oes-continue="true" auto-play="true">
  <ion-slide>
    <div class="box blue"><img src="img/Bfest.jpg"></img> </div>
  </ion-slide>

</ion-slide-box>

<div class="list">

  <div class="item item-divider item-positive">
    <center><h2>Event</h2></center> 
  </div>
  <a class="item item-thumbnail-right" href="#">
      <img src="img/pam.jpg">
      <h3>Judul Event</h3>
      <p><i class="icon ion-calendar"></i> 02-12-2015 </p>
      <p><i class="icon ion-android-pin"></i> Taman Blambangan</p>
    </a>
      <a class="item item-thumbnail-right" href="#">
      <img src="img/pam.jpg">
      <h3>Judul Event</h3>
      <p><i class="icon ion-calendar"></i> 02-12-2015 </p>
      <p><i class="icon ion-android-pin"></i> Taman Blambangan</p>
    </a>
      <a class="item item-thumbnail-right" href="#">
      <img src="img/pam.jpg">
      <h3>Judul Event</h3>
      <p><i class="icon ion-calendar"></i> 02-12-2015 </p>
      <p><i class="icon ion-android-pin"></i> Taman Blambangan</p>
    </a>
      <a class="item item-thumbnail-right" href="#">
      <img src="img/pam.jpg">
      <h3>Judul Event</h3>
      <p><i class="icon ion-calendar"></i> 02-12-2015 </p>
      <p><i class="icon ion-android-pin"></i> Taman Blambangan</p>
    </a>
      <a class="item item-thumbnail-right" href="#">
      <img src="img/pam.jpg">
      <h3>Judul Event</h3>
      <p><i class="icon ion-calendar"></i> 02-12-2015 </p>
      <p><i class="icon ion-android-pin"></i> Taman Blambangan</p>
    </a>
      <a class="item item-thumbnail-right" href="#">
      <img src="img/pam.jpg">
      <h3>Judul Event</h3>
      <p><i class="icon ion-calendar"></i> 02-12-2015 </p>
      <p><i class="icon ion-android-pin"></i> Taman Blambangan</p>
    </a>

</div>
  </ion-content>
</ion-view>
