<ion-view view-title="Paket Wisata">
   <ion-content ng-class="{expanded:$scope.isExpanded}">
 <div class="item item-divider item-positive">
    <center><h2>Paket Unggulan</h2></center> 
  </div>
  <a class="item item-thumbnail-left" href="#">
      <img src="img/pam.jpg">
      <h3>Banyuwangi Diamond TriangleDiamond </h3>
      <p><i class="icon ion-calendar"></i> 5 Hari 1 Malam</p>
<p style="font-style:italic;"><i class="icon ion-cash"></i><i>Rp. 500.000</i> </p>

    </a>
      <a class="item item-thumbnail-left" href="#">
      <img src="img/pam.jpg">
      <h3>Plengkung </h3>
            <p><i class="icon ion-calendar"></i> 5 Hari 1 Malam</p>
      <p style="font-style:italic;"><i class="icon ion-cash"></i><i>Rp. 500.000</i> </p>

    </a>
        </a>
      <a class="item item-thumbnail-left" href="#">
      <img src="img/pam.jpg">
      <h3>Sukomade </h3>
      <p><i class="icon ion-calendar"></i> 2 Hari 1 Malam</p>
      <p style="font-style:italic;"><i class="icon ion-cash"></i><i>Rp. 200.000</i> </p>

    </a>
<!--     <button class="button button-block button-positive icon-right ion-chevron-right" ng-click="login()">Cari Paket Wisata</button> -->
</div>
 <div class="item item-divider item-positive">
    <center><h2>Paket Terbaru</h2></center> 
  </div>
  <a class="item item-thumbnail-left" href="#">
      <img src="img/pam.jpg">
      <h3>Nama Paket</h3>
      <p><i class="icon ion-calendar"></i> Estimasi Waktu </p>
    </a>
    

</div>

  </ion-content>
</ion-view>
